body{
    margin: auto;
    max-width: 1350px;
    position: relative;
}

.instruct-content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 55px;
    margin-top: 27px;
}
.instruct-footer{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 55px;
}

.instruct{
    width: 100%;
    height: auto;
}
.instruction-container img{
    width: 100%;
    height: auto;
}

.instruction-title{
    font-size: 40px;
    text-align: center;
    color:#623B2A;
}

.more, .less {
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: inherit;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
  
    /* Элемент скрыт в развернутой статье */
    display: none;
  }
  .instruction{
    margin-top: 30px;
    color: #35190d;
  }
/*.instruction {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/
  
.more, .less{
    /* Показываем элемент в свернутой статье */
    display: inline-block;
}

.go-button{
    padding: 0;
}

/*.next-button, .prev-button{
    position: fixed; /* Позиционируем кнопку фиксированно 
    top: 60%; /* Отступ от верхнего края 
    z-index: 999;
}
.prev-button{
    left: 30%;
}
.next-button{
   right: 30%;
}*/

.instruction-container video {
    width: 100%;
    height: auto;
    border:1px solid #623B2A;
    border-radius: 20px;
}

.go-buttons{
    max-width: 1350px;
    width: 100%;
    position: fixed; 
    top: 65%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}


button.go-button {
    background-color: #6f402a;
    border-radius: 30px;
   /* margin: 0 10px;*/
}
button.go-button img {
    /*
    margin: 6px 25px;
    width: 30px;
    height: 20px;*/
    margin: 10px 30px;
    width: 60px;
    height: 40px;
}   


/*button.go-button{
    background-color: #E04E39;
    border-radius: 10px;
    margin: 0 10px;
}
.go-button img {
    margin: 6px 25px;
    width: 30px;
    height: 20px;
}*/

@media screen and (max-width: 748px) {
    .go-buttons{
        top: 75%;
    }
}
@media screen and (max-width: 640px) {
    .go-buttons{
        top: 70%;
    }
}


@media screen and (max-width: 600px) {
    .prev-button img,
    .next-button img {
        max-width: 60%; /* Уменьшаем максимальную ширину изображения */
    }
}
@media screen and (max-width: 542px) {
    .go-buttons{
        top: 65%;
    }
}


@media screen and (max-width: 430px) {
    .go-buttons{
        top: 60%;
    }
}

@media screen and (max-width: 320px) {
    .go-buttons{
        top: 65%;
    }
}

@media screen and (min-height: 606px) {
    .go-buttons{
        top: 64%;
    }
}
@media screen and (min-height: 650px) {
    .go-buttons{
        top: 60%;
    }
}
@media screen and (min-height: 690px) {
    .go-buttons{
        top: 55%;
    }
}
@media screen and (min-height: 732px) {
    .go-buttons{
        top: 55%;
    }
}
@media screen and (min-height: 732px) {
    .go-buttons{
        top: 52%;
    }
}
@media screen and (min-height: 732px) {
    .go-buttons{
        top: 50%;
    }
}
@media screen and (min-height: 846px) {
    .go-buttons{
        top: 48%;
    }
}




