.manual-strp img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.manual{
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #C3936773;
    border-radius: 20px;
    margin-bottom: 22px;

}
.manual-text{
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 20px;
    text-align: left;
    font-size:14px;
    white-space: break-spaces;
}

.info-gif img{
    width: 100%;
    height: auto;
}
.popup{
    width: 80%;
    max-width: 680px;
    max-height: 530px;
    height: 80%;
    overflow-x: hidden;
}
.additional-info{
    margin-left: auto;
}

.additional-info-res img{
    width: 100%;
    height: auto;
}
.info-cards img{
    justify-content: space-between;
    width: 80%;;
}
.info-card{
    height: auto;
}

.list-of-cards{
    width: 100%;
}
.list-of-cards img{
    width: 100%;
}

.close-button{
    margin-left: auto;
}
.close-container{
    width: 100%;
    text-align: right;
}
.card-button{
    width: 90%;
    height: auto;
}

.back-buttons{
    display: flex;
    justify-content: space-between;
}

.res-title{
    margin-top: 0;
    font-size:32px;
    text-align: center;
    color:#FFFFFF;
    font-weight: 400;
    background-color: #E04E39;
}


.popup::-webkit-scrollbar {
    width: 10px;
    border: 1px;
    border-color: #000000BF;
}

.popup::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 60px;
}

.popup::-webkit-scrollbar-thumb {
    background: #000000BF;
}

.popup::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.popup-header{
    position: sticky;
    top:-5%;
    background: white;
}

.popup-title{
    text-align: center;
    margin-top: 0;
}

.popup #closePopup.close-info {
    margin-top: 0;
}
.popup-content{
    display: grid;
    justify-content: center;
    text-align: center;
}

button.return-button{
    background-color: #E04E39;
    border-radius: 10px;
    margin: 0 10px;
    max-height: 37px;
}
.return-button img {
    margin: 6px 25px;
    width: 30px;
    height: 20px;
}

.close-button{
        background-color: #E04E39;
        border-radius: 10px;
        margin: 0 10px;
        max-height: 37px;
}

.close-button img {
    margin: 6px 25px;
    width: 30px;
    height: 20px;
}
