.services, .catalogs{
    margin: 60px 0px;
}


.help-button-container{
    position: relative;
    width: 100%;
    height: auto;
}
.help-button{
    position: fixed; /* Позиционируем кнопку фиксированно */
    top: 60%; /* Отступ от верхнего края */
    left: 2%; /* Отступ от левого края */
    z-index: 999;
}
.card-description{
    margin: 0;
}

.card-button{
    width: 100%;
    height: auto;
}
.card-button img{
    width: 100%;
    height: auto;
}

.service-button{
    width: 100%;
}
.header-list{
    display: flex;   
}

.breadcrumb-item::after {
    content: '>';
    margin-left: 5px;
    margin-right: 5px;
    color: #6c757d;
}
  
  .breadcrumb-item:last-child::after {
    content: none; /* Удаляем стрелку после последнего элемента */
}
.buttons-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-buttons{
    display: flex;
    align-items: center;
}

.search-input{
    max-width: 273px;
    width: 100%;
    height: 35px;
}

video{
    margin-top: 10px;
    max-height: 281px;
}

#closePopup {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.popup #closePopup {
    top: 10px; 
    right: 10px; 
    margin-right: 36px;
    margin-top: 30px;

    background-color: transparent;
    border: none;
    padding: 0;
}

.popup-table{
    display: flex;
    flex-direction: column;
}
.popup-header{
    margin-left: auto;
    margin-bottom: 0px;
}
.popup-footer{
    margin-top: 20px;
}
.popup-footer .back-button{
    margin-right: 10em;
}
.search-popup{
    padding-left: 10em;
}