body {
    margin: 0;
    margin-top: 120px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    /*background: #C393670D;*/
    /*background: radial-gradient(#eadac4, #C393670D);*/
    /*background-color: rgba(195, 147, 103, 0.35);*/
    /*background-color: rgb(200 186 173 / 35%);*/
    background-color: rgb(200 186 173 / 15%);
}

body{
    margin-top: 0;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin-bottom: 20px;
}

h1, h2, h3{
    font-family: "Roboto", serif;
    color:#623B2A
}

.main-header{
    max-width: 1500px;/*было 800px*/
    margin: 0 auto;
    padding: 0 55px;
}

header.main-header {
    padding: 0 0;
    position: sticky;
    top:0;
    background-color: rgb(246 244 242);
    z-index: 998;
    padding-bottom: 5px;
    border-radius: 5px;
}

.main-menu, .main-result{
    padding: 0 55px;
}
.main-content{
    max-width: 1200px;/*было 800px*/
    margin: 0 auto;
}
.main-footer{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 55px;
}

.css-arrow{
position: absolute;
width: 38px;
height: 60px;

background: #FFFFFF;

}

ul{
    text-decoration: none;

    list-style-type: none;
    padding: 0; 
    margin: 0;
}

  
button{
    border: none;
    background: none;
}

.list-of-cards{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px; 
    grid-column-gap: 5%; 
}

.list-of-cards.list {
    grid-template-columns: repeat(1, 1fr);
}

.service-card, .catalog-card{
    position: relative;
}
.service-card, .catalog-card, .info-card{

    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: 100%;
}



.popup-container {
    position: relative;
    height: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.overlay.hidden{
    background-color: transparent;
}

.popup {
    height: auto;
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    border-color: #593C2F;
}

#showPopup {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;

    background-color: transparent;
    border: none;
    padding: 0;

    color: #a54a1ccf;
}

#closePopup {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.popup #closePopup {
    position: absolute;
    top: 5px; 
    right: 5px; 

    background-color: transparent;
    border: none;
    padding: 0;
}




.buttons-area img{
    /*width: 100%;
    height: auto;*/
}


.hover:hover{
    display:block;
    visibility:visible;
}


.hovered-text{
    position: fixed;
    margin-top: -62px;
    background: #a77259;
    color: white;
    padding: 20px;
    border-radius: 40px;

}


.extended-container {
    order: 0;
    z-index: 900;
    align-self: flex-start;
}
.gestural-language .card-content{
    order: 10;
}
.extended-button img{
    max-width: 1.4vw;
    max-height: 1.3vw;
}

.extended-button{
    pointer-events: auto;
    z-index: 900;
    position: absolute;

    font-size: 1.5vw;
    /*border: 2px solid #a77259;*/
    border: 2px solid #ffffff;
    margin: 10px;
    /*margin-left: 0;
    margin-top: 0;*/

    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    padding-bottom: 0;

    padding-left: 15px;
    padding-right: 15px;

    background-color: rgba(200, 186, 173, 0.836);

    
    -webkit-text-stroke: 0.5px #f0bda4;
}
button.delete-button{
    color: rgb(255, 3, 3);
}
button.edit-button{
    color: rgb(94, 255, 0);
}
.admin-button{
    font-size: 1.5vw;
    border: 3px solid #a77259;
    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    margin: 10px;

    background-color: #a77259;

    color: white;
}


li.newAdd .gif::before, .black-plus .skeleton-content::before {
    color: #bba8a8;
}

.card-to-add .gif::before, .card-to-add .skeleton-content::before {
    content: '+';
    
    font-size: 800%; /* Это значение можно настроить под размер вашего элемента */

    
    color: white; /* Цвет плюса, можно изменить под ваши нужды */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Убедитесь, что псевдоэлемент находится перед контентом */
}

form#card-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px
}

#card-form-container {
    width: 60%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 998;

    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-color: #593C2F;
}
#edit-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 998;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-color: #593C2F;
}
.close-edit-form {
    width: fit-content;
}

.close-form {
    align-self: end;
    cursor: pointer;
}
button.submit-form {
    font-size: 1.15em;
    background: #42b142;
    border-radius: 30px;
    color: white;
    padding: 8px;
}

.toggleCheckbox {
    display: none;
}
.toggleContainer img{
    width: 1.8vw;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}/*
.toggleContainer img:first-child{
    margin-right: 1vw;
}
.toggleContainer img:second-child{
    margin-right: 1vw;
}*/

.toggleContainer {
    /*margin-top: 10px;*/
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 1px solid #343434;
    border-radius: 30px;
    background: #a77259;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
 }
 .toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius:30px;
    /*background: white;*/
    background:rgba(200, 186, 173, 0.836);
    transition: all 0.3s;
 }
 .toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
 }
 .toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
 }/*
 .toggleCheckbox:checked + .toggleContainer div:first-child{
   color: white;
   transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child{
   color: #343434;
   transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child{
   color: #343434;
   transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child{
   color: white;
   transition: color 0.3s;
}*/


.hidden {
    display: none;
}

.opacity {
    opacity: 0;
}


button.hidden {
    display: none;
}

button{
    cursor: pointer;
}
li.service-card.card.hidden {
    display: none;
}
