body {
    margin: 0;
    margin-top: 120px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    /*background: #C393670D;*/
    /*background: radial-gradient(#eadac4, #C393670D);*/
    /*background-color: rgba(195, 147, 103, 0.35);*/
    background-color: rgb(200 186 173 / 35%);
}

body{
    margin-top: 0;
    overflow-x: hidden;
    font-family: "Roboto", serif;
}

h1, h2, h3{
    font-family: "Roboto", serif;
    color:#623B2A
}

.main-header{
    max-width: 1500px;/*было 800px*/
    margin: 0 auto;
    padding: 0 55px;
}

.main-menu, .main-result{
    padding: 0 55px;
}
.main-content{
    max-width: 1200px;/*было 800px*/
    margin: 0 auto;
}
.main-footer{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 55px;
}

.css-arrow{
position: absolute;
width: 38px;
height: 60px;

background: #FFFFFF;

}

ul{
    text-decoration: none;

    list-style-type: none;
    padding: 0; 
    margin: 0;
}

  
button{
    border: none;
    background: none;
}

.list-of-cards{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px; 
    grid-column-gap: 3vw; 
}

.list-of-cards.list {
    grid-template-columns: repeat(1, 1fr);
}
.service-card, .catalog-card, .info-card{
    
    width: 100%;
    height: 100%;
}



.popup-container {
    position: relative;
    height: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.overlay.hidden{
    background-color: transparent;
}

.popup {
    height: auto;
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    border-color: #593C2F;
}

#showPopup {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;

    background-color: transparent;
    border: none;
    padding: 0;

    color: #a54a1ccf;
}

#closePopup {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.popup #closePopup {
    position: absolute;
    top: 5px; 
    right: 5px; 

    background-color: transparent;
    border: none;
    padding: 0;
}




.buttons-area img{
    /*width: 100%;
    height: auto;*/
}



.hidden {
    display: none;
}

.opacity {
    opacity: 0;
}

