body {
    margin: 0;
    margin-top: 120px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    /*background: #C393670D;*/
    /*background: radial-gradient(#eadac4, #C393670D);*/
    /*background-color: rgba(195, 147, 103, 0.35);*/
    /*background-color: rgb(200 186 173 / 35%);*/
    background-color: rgb(200 186 173 / 15%);
}

body{
    margin-top: 0;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin-bottom: 20px;
}

h1, h2, h3{
    font-family: "Roboto", serif;
    color:#623B2A
}

.main-header{
    max-width: 1500px;/*было 800px*/
    margin: 0 auto;
    padding: 0 55px;
}

header.main-header {
    padding: 0 0;
    position: sticky;
    top:0;
    background-color: rgb(246 244 242);
    z-index: 998;
    padding-bottom: 5px;
    border-radius: 5px;
}

.main-menu, .main-result{
    padding: 0 55px;
}
.main-content{
    max-width: 1200px;/*было 800px*/
    margin: 0 auto;
}
.main-footer{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 55px;
}

.css-arrow{
position: absolute;
width: 38px;
height: 60px;

background: #FFFFFF;

}

ul{
    text-decoration: none;

    list-style-type: none;
    padding: 0; 
    margin: 0;
}

  
button{
    border: none;
    background: none;
}

.list-of-cards{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px; 
    grid-column-gap: 5%; 
}

.list-of-cards.list {
    grid-template-columns: repeat(1, 1fr);
}

.service-card, .catalog-card{
    position: relative;
}
.service-card, .catalog-card, .info-card{

    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: 100%;
}



.popup-container {
    position: relative;
    height: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.overlay.hidden{
    background-color: transparent;
}

.popup {
    height: auto;
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    border-color: #593C2F;
}

#showPopup {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;

    background-color: transparent;
    border: none;
    padding: 0;

    color: #a54a1ccf;
}

#closePopup {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.popup #closePopup {
    position: absolute;
    top: 5px; 
    right: 5px; 

    background-color: transparent;
    border: none;
    padding: 0;
}




.buttons-area img{
    /*width: 100%;
    height: auto;*/
}


.hover:hover{
    display:block;
    visibility:visible;
}


.hovered-text{
    position: fixed;
    margin-top: -62px;
    background: #a77259;
    color: white;
    padding: 20px;
    border-radius: 40px;

}


.extended-container {
    order: 0;
    z-index: 900;
    align-self: flex-start;
}
.gestural-language .card-content{
    order: 10;
}
.extended-button img{
    max-width: 1.4vw;
    max-height: 1.3vw;
}
.clear-card .extended-button{
    padding-bottom: 5px;
}

.extended-button{
    pointer-events: auto;
    z-index: 900;
    position: absolute;

    font-size: 1.5vw;
    /*border: 2px solid #a77259;*/
    border: 2px solid #ffffff;
    margin: 10px;
    /*margin-left: 0;
    margin-top: 0;*/

    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    padding-bottom: 0;

    padding-left: 15px;
    padding-right: 15px;

    background-color: rgba(200, 186, 173, 0.836);

    
    -webkit-text-stroke: 0.5px #f0bda4;
}
button.delete-button{
    color: rgb(255, 3, 3);
}
button.edit-button{
    color: rgb(94, 255, 0);
}
.admin-button{
    font-size: 1.5vw;
    border: 3px solid #a77259;
    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    margin: 10px;

    background-color: #a77259;

    color: white;
}


li.newAdd .gif::before, .black-plus .skeleton-content::before {
    color: #bba8a8;
}

.gestural-language .cardButton-to-add {
    width: 100%;
    /* width: 100%; */
    padding: 0;
    height: auto;
    /* border: 2px solid #623B2A; */
    border: 2px solid #895b3e;
    border-radius: 20px;
    /* background-color: #6f402a; */
    /* background: linear-gradient(45deg, #6f402a, #c39367); */
    /* background: #c39367; */
    background: #a77259;
    /* box-shadow: 6px 4px 0px #00000026; */
    box-shadow: 6px 4px 3px #0000001c;
}
.clear-card .cardButton-to-add {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 6vw;
    justify-content: space-around;
    height: 100%;
}


.card-to-add .gif::before, .card-to-add .skeleton-content::before {
    content: '+';
    
    font-size: 800%; /* Это значение можно настроить под размер вашего элемента */

    
    color: white; /* Цвет плюса, можно изменить под ваши нужды */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Убедитесь, что псевдоэлемент находится перед контентом */
}

.common-card{
    display: flex;
    flex-direction: column;
}

ul.res-text-parts.list {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    max-height: 532px;
}

li.res-text-parts.part {
    display: flex;
    flex-direction: column;
}

textarea.res-parts{
    max-width: 25em;
    max-height: 30em;
    margin-bottom: 10px;
}

section.res-card {
    /*align-self: end;
    padding-left: 10px;*/

    display: flex;
    flex-direction: column;

    padding-bottom: 20px;

}
.res-card .div-last {
    /*margin-left: -20px;*/
}

section.parent-choose {
    width: min-content;
    align-self: center;
    padding-bottom: 20px;
}
select#parent-id {
    font-size: medium;
    border-radius: 30px;
    padding: 5px;
}
section.common-card {
   /* width: min-content;*/
    align-self: center;
}

aside.res-text-parts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

input#subCategory-create {
    width: auto;
}

.add-new-block::after {
    content: '+';
    font-size: 150%;
    /*color: black;*/
    background-color: rgba(181, 146, 115, 1);
    color:white;
    border: 1px solid black;
    margin-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 30px;
}

.add-new-block {
    margin-top: 5px;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;
    padding-right: 1em;
}

#card-form input{
    padding-top: 2px;
}





label.reduced.label-main-icon {
    /*margin-bottom: -1.2em;*/
}
#card-form label {
    padding-left: 5px;
    font-size: medium;
    font-family: Jomolhari;
}

#card-form input{
    max-height: 2em;
}

#card-form input, #card-form textarea{
    background: rgba(181, 146, 115, 0.4);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: medium;

    width: -webkit-fill-available;
    width: -moz-available;
}

input#type {
    width: auto;
}
input#subCategory-create {
    width: auto;
}
input#subCategory-create {
    width: auto;
}


#card-form textarea{
    padding-top: 5px;
    font-size: large;
}

#card-form input[type="file"]{
    background: 0;
    border: 0;
    border-radius:0;
    color:#000000;
    position: absolute;
    display: none;
}
.download-img{
    background: rgba(181, 146, 115, 1);
    padding: 5px;
    border-radius: 5px;
    max-width: 1.5em;
}
#card-form .file-lable{

    
    font-family: Jomolhari;
    font-size: medium;
    font-weight: 400;
    line-height: 17.62px;
    text-align: left;
    /* background: rgba(181, 146, 115, 1); */
    background: rgba(181, 146, 115, 1);
    border-radius: 15px;
    color: white;
    width: fit-content;
    padding: 5px;
    

    cursor: pointer;
}

.can-upload {
    display: flex;
    flex-direction: column;
}

.icon-and-label{
    display: flex;

}

.file-input {
    display: flex;
    align-items: flex-end; /*flex-start;*/
    
    gap: 15px;
    justify-content: flex-start;
    margin-top: 10px;

    justify-content: space-between;
    width: 100%;
}

.form-flex {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}
form#card-form {
    display: grid;
}
/*
form#card-form {
    display: flex;

    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    
}*/



#card-form-container {

    
    background: rgba(248, 241, 235, 1);
    border: 1.5px solid rgba(0, 0, 0, 1);

    max-width: 60%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: white;*/

    padding: 20px;
    /*border: 1px solid #ccc;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 998;

    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    /*border-color: #593C2F;*/
}
#edit-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 998;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-color: #593C2F;
}
.close-edit-form {
    width: fit-content;
}

.close-form {
    /*margin-top: -20px;*/
    cursor: pointer;
}
/*
article.main-form {
    border-right: 1px solid rgba(119, 119, 119, 1);
    border-width: 2px;
}*/

section.res-card {
    border-left: 1px solid rgba(119, 119, 119, 1);
    border-width: 2px;
    padding-left: 20px;
}
/*
article.main-form {
    border-right: 1px solid rgba(119, 119, 119, 1);
    border-width: 2px;
    padding-right: 20px;
}
*/

.div-last 
{
   border-bottom: 1px solid rgba(119, 119, 119, 1);
   top: 10px;
   margin:0px;
   margin-bottom: 10px;  
   margin-top: 10px;  
 
   border-width: 2px;
   /*border-bottom: 2.5px #593C2F solid;*/
   width: 100%;
}

.icon-add-container {
    display: flex;
}

.icon-of-url {
    /*background: #a7725980;*/
    background: rgba(255, 255, 255, 0.5);

    /* border-radius: 20px; */
    /* box-shadow: inset -2px -3px 0px 0px black; */
    border-block: 2px black;
    border: double;
    margin-left: 10px;
    margin-right: 5px;
}
.icon-add-container {
    display: flex;
    align-content: center;
    /*align-items: center;*/
    align-items: flex-end;
    flex-direction: column;
    padding-top: 8px;
}
.icon-add-container.main-icon {
    flex-direction:row;
}

button.submit-form {
    margin-top: 10px;
    
    font-size: 1.15em;
    background: rgba(73, 184, 80, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    border-radius: 30px;
    color: white;
    padding: 10px;

    align-self: end;
    /* margin-left: auto;*/
}

.toggleCheckbox {
    display: none;
}
.toggleContainer img{
    width: 1.8vw;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}/*
.toggleContainer img:first-child{
    margin-right: 1vw;
}
.toggleContainer img:second-child{
    margin-right: 1vw;
}*/

.toggleContainer {
    /*margin-top: 10px;*/
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 1px solid #343434;
    border-radius: 30px;
    background: #a77259;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
 }
 .toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius:30px;
    /*background: white;*/
    background:rgba(200, 186, 173, 0.836);
    transition: all 0.3s;
 }
 .toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
 }
 .toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
 }/*
 .toggleCheckbox:checked + .toggleContainer div:first-child{
   color: white;
   transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child{
   color: #343434;
   transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child{
   color: #343434;
   transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child{
   color: white;
   transition: color 0.3s;
}*/


.hidden {
    display: none;
}

.opacity {
    opacity: 0;
}


button.hidden {
    display: none;
}

button{
    cursor: pointer;
}
li.service-card.card.hidden {
    display: none;
}
li.catalog-card.card.hidden {
    display: none;
}

section.hidden {
    display: none;
}

aside.hidden{
    display: none;
}

.loader-wrapper.hidden{
    display: none;
}
.card-button{
    justify-content: space-around;
    height: 100%;
}

.upload-file {
    cursor: pointer;
    /*border: 1px solid;*/
    border-radius: 15px;
    color: white;
    width: fit-content;
    padding: 5px;
    margin-top: 5px;
    text-wrap: nowrap;
}
.upload-file {
    font-family: Jomolhari;
    font-size: medium;
    font-weight: 400;
    line-height: 17.62px;
    text-align: left;
    /*background: rgba(181, 146, 115, 1);*/
    background:rgba(181, 146, 115, 1);
}




.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
/*
.loader {
    z-index: 999;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
*/
.loader {
    z-index: 999;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}